# Node dependencies.
node_modules

# NW.js.
build.nw.ts

# Build output.
dist
release
cache
build
*.tsbuildinfo

# Git repository.
.git

# Package manager files.
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock

# Operating system files.
.DS_Store
.Thumbs.db
